{% extends "html/base.html" %}
{% block content %}
<div class="row align-items-start justify-content-start mb-2">
    <div class="col align-self-start">
        <h1>All Shows</h1>
    </div>
</div>
<div class="row align-items-start justify-content-start mb-2">
    <div class="col align-self-start">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Network</th>
                    <th scope="col">Release Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for show in showlist %}
                <tr>
                <th scope="row">{{ show.id }}</th>
                <td>{{ show.title }}</td>
                <td>{{ show.network }}</td>
                <td>{{ show.release_date|date:"F d, Y"}}</td>
                <td><a href="{% url 'display_show' show.id %}">Show</a> | <a href="">Edit</a> | <a href="">Delete</a></td>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row align-items-start justify-content-start mb-2">
    <div class="col align-self-start">
        <h3><a href="{% url 'newshow' %}">Add A New Show</a></h3>
    </div>
</div>
{% endblock %}